@font-face {
    font-family: MPlusRounded;
    src: url('../fonts/MPLUSRounded1c-Regular.ttf' format('opentype'));
}

li {
    list-style: none;
}

ul{
    padding-left: 0;
}

footer{
    text-align: center;
}

a {
    text-decoration: none;
}

html {
    font-size: medium;
    font-family: MplusRounded;
}


.gotop {
    padding-left: 20px;
}

.whole {
    text-align: center;
    padding: 3em;
}
.content {
    padding-bottom: 1em;
}
