li {
    list-style: none;
}

ul{
    padding-left: 0;
}

footer{
    text-align: center;
}

.whole {
    text-align: center;
    padding: 4em;

    font-size: medium;
    font-family: sans-serif;

}
.content {
    padding-bottom: 1em;
}
