
{% extends 'app01/mkdev48base.html' %}

{% block pagename %}  testpage04  {% endblock %}

{% block title %}  testpage04  {% endblock %}
{% block content %}
<div class="content">
    <h4>What is this</h4>
    テストページ04　フォームのテスト
</div>

<div class="content">
    <form action="{%url 'tp04' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
</div>
<div class="content">
    送信結果（文字）: {{ moji }}  送信結果（数字）：{{ suji }}
</div>
<div class="content">
    ・送信された文字をテキストボックスに突っ込む
    <br>
    <textarea name="textbox0" id="0" cols="30" rows="5"> {{moji}} </textarea>
</div>

{% endblock %}